# copy this file as .env for testing env

SERVER_ENDPOINT="192.168.70.70:9000"
ACCESS_KEY="G9X8V2ZJD46UNA4K1C6R"
SECRET_KEY="T8pzJp+dAOajRprGQQOx6fOB7LfnjAuUxKWldsE4"
SESSION_TOKEN="eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiJHOVg4VjJaSkQ0NlVOQTRLMUM2UiIsImV4cCI6MTY5MDg3MjAxMywicGFyZW50IjoiYWRtaW4iLCJzZXNzaW9uUG9saWN5IjoiZXlKV1pYSnphVzl1SWpvZ0lqSXdNVEl0TVRBdE1UY2lMQ0pUZEdGMFpXMWxiblFpT2lCYmV5SkZabVpsWTNRaU9pQWlRV3hzYjNjaUxDSkJZM1JwYjI0aU9pQWljek02UjJWMFFuVmphMlYwVEc5allYUnBiMjRpTENKU1pYTnZkWEpqWlNJNklDSmhjbTQ2WVhkek9uTXpPam82YlhscVpuTXZLaUo5TEhzaVJXWm1aV04wSWpvZ0lrRnNiRzkzSWl3aVFXTjBhVzl1SWpvZ1d5SnpNenBIWlhSUFltcGxZM1FpTENKek16cEhaWFJDZFdOclpYUk1iMk5oZEdsdmJpSXNJbk16T2xCMWRFOWlhbVZqZENJc0luTXpPa1JsYkdWMFpVOWlhbVZqZENJc0luTXpPa2RsZEVScGNsRjFiM1JoSWl3aWN6TTZVMlYwUkdseVVYVnZkR0VpWFN3aVVtVnpiM1Z5WTJVaU9pQmJJbUZ5YmpwaGQzTTZjek02T2pwdGVXcG1jeTkwWlhOMEwzRjFiM1JoTVM4cUlsMTlYWDA9In0.AxSpm5-iIj12FEiChAguuITQGDcD4_9-g3i4c6STncxpvqUOboT69AK3PG9iPFHWSa4pRQjC8ujeyxXwogHA-g
accessKey=G9X8V2ZJD46UNA4K1C6R"
